@import '../../variables.scss';

.outerWrapper {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.wrapper {
    display: inline-block;
    background-color: $sunkenBackground;
    padding: 30px;
    border-radius: 25px;
}

.description {
    width: 600px;
    margin-left: auto;
    margin-right: auto;
}
