@import '../../variables.scss';

.row {
    display: flex;
    flex-flow: row;
    align-items: center;

    height: 24px;

    padding: 2px 15px;
    border-left: $border;
    border-right: $border;

    .label {
        margin: 0;
        font-size: 1.05em;
        font-style: italic;
        font-weight: normal;
        margin-top: auto;
        margin-bottom: auto;

        width: 100%;

        text-align: left;

        color: $text;
    }

    .wideRowLabel {
        font-style: normal;
        font-weight: bold;
    }

    .verticalPaddedLabel {
        margin-bottom: 7px;
    }
}

.verticalPaddedRow {
    height: 48px;
}

.row:first-child {
    border-top: $border;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    padding-top: 10px;
}

.row:last-child {
    border-bottom: $border;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    padding-bottom: 10px;
}

.row:nth-child(2n + 0) {
    background-color: $rowBackground1;
}

.row:nth-child(2n + 1) {
    background-color: $rowBackground2;
}
