@import "../../variables.scss";

.row {
  display: flex;
  flex-flow: row;
  align-items: center;

  height: 48px;
  width: 100%;

  .label {
    margin: 0;
    font-size: 1.05em;
    font-style: italic;
    margin-top: auto;
    margin-bottom: 7px;

    width: 100%;

    text-align: left;

    color: $text;
  }
}
