@import '../../../../variables.scss';

.transactionOutputs {
    display: flex;
    flex-direction: column;
    width: 770px;

    .transactionOutput {
        display: flex;
        flex-direction: row;
        border-bottom: $border;
        margin-left: -20px;
        padding-left: 20px;

        height: 85px;

        * .data {
            display: block;
            width: 100%;
            margin-top: auto;
            margin-bottom: auto;

            div {
                display: inline;
            }
        }

        .arrow {
            width: 40px;
            margin-top: auto;
            margin-bottom: auto;
            font-size: 2.3em;
        }

        .destination {
            font-family: $mono;
            display: flex;
            flex-direction: column;
            width: 440px;
            margin-top: auto;
            margin-bottom: auto;
            padding-left: 20px;
            text-align: left;

            .address {
                display: flex;
                font-size: 1.1em;
                color: $primary;
                padding-top: 14px;
                padding-left: 3px;
                padding-bottom: 2px;

                a {
                    color: $primary;
                }

                a:hover {
                    text-decoration: underline;
                }
            }

            .rawOutput {
                font-family: $normal;
            }

            .script {
                display: flex;
                width: 41em;
                font-size: 0.7em;
                text-align: left;
                color: $muted;
                line-height: 1.3em;
                margin: 0 -4px;
                padding: 6px;
                background-color: $semiSunkenBackground;
                border-radius: 10px;

                .header {
                    font-family: $normal;
                    color: $slightlyMuted;
                    font-style: italic;
                    padding-right: 5px;
                    height: auto;
                    min-width: 32px;
                }
            }
        }

        .destinationOverflow {
            width: auto;

            .script {
                width: auto;
                padding-right: 1em;
            }
        }

        .value {
            display: flex;
            font-family: $mono;
            font-size: 115%;
            width: 210px;

            .data {
                margin-left: auto;
                margin-right: 20px;
                width: auto;
            }

            .decimals {
                font-size: 70%;
            }

            .unit {
                margin-left: -5px;
                font-size: 0.9em;
                white-space: pre;
                color: $muted;
            }
        }

        .spent,
        .unspent {
            display: flex;
            width: 75px;

            a {
                text-decoration: none;
            }

            a:hover {
                text-decoration: underline;
            }
        }

        .unspent {
            color: $muted;
        }
    }
}
