@import "../../variables.scss";

.cell {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 100%;

  .label {
    margin: 0;
    font-size: 0.85em;
    margin-bottom: 5px;
  }

  .info {
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: flex-end;

    width: 100%;
    height: 16px;

    * {
      display: inline;
    }

    .mono {
      font-family: $mono;
    }

    .decimals {
      font-size: 0.75em;
    }

    .unit {
      font-size: 0.9em;
      white-space: pre;
      color: $muted;
      font-family: $normal;
    }

    .loading {
      height: 100%;
    }

    .link {
      text-decoration: none;
    }

    .link:hover {
      text-decoration: underline;
    }
  }
}

.normalCell {
  background-color: $backgroundColor;
}

.lighterCell {
  background-color: $rowBackground1;
}

.lightCell {
  background-color: $rowBackground2;
}

.darkerCell {
  background-color: $sunkenBackground;
}
