@import '../../variables.scss';

.cell {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100%;

    .label {
        margin: 0;
        font-size: 0.85em;
        margin-bottom: 1px;
    }

    .sunkenLabel {
        background-color: $semiSunkenBackground;
        width: 90%;
        padding-top: 4px;
        padding-bottom: 8px;
        margin-bottom: -8px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }

    .largelabel {
        font-size: 1.25em;
        margin-bottom: 10px;
        font-weight: normal;
        font-style: italic;
    }

    .info {
        display: flex;
        flex-flow: row;
        justify-content: center;
        align-items: flex-end;

        width: 100%;
        height: 20px;

        * {
            display: inline;
        }

        .mono {
            font-family: $mono;
        }

        .decimals {
            font-size: 0.75em;
        }

        .unit {
            font-size: 0.9em;
            white-space: pre;
            color: $muted;
            font-family: $normal;
        }

        .loading {
            height: 24px;
            margin-bottom: -6px;
        }

        .link {
            color: $primary;
            text-decoration: none;
        }

        .link:hover {
            text-decoration: underline;
        }

        .accentuatedLink {
            color: $link;
        }
    }
}

.normalCell {
    background-color: $backgroundColor;
}

.lighterCell {
    background-color: $rowBackground1;
}

.lightCell {
    background-color: $rowBackground2;
}

.darkerCell {
    background-color: $sunkenBackground;
}
