@import '../../variables.scss';

.wrapper {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
}

.mutations {
    width: 100%;
    background-color: $sunkenBackground;
    padding: 20px;
    border-radius: 25px;
}

.none {
    width: 800px;
    background-color: $sunkenBackground;
    display: grid;
    height: 227px;
    margin: auto;
    border-radius: 25px;

    h4 {
        color: $ultramuted;
        font-size: 230%;
        font-style: italic;
        margin-top: auto;
        margin-bottom: auto;
        padding-bottom: 15px;
    }
}
