@import '../../variables.scss';

.wrapper {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
}

.mutations {
    width: 100%;
    background-color: $sunkenBackground;
    padding: 20px;
    border-radius: 25px;
}
