@import '../../../../variables.scss';

.transactionInputs {
    display: flex;
    flex-direction: column;
    width: 730px;

    .transactionInput {
        display: flex;
        flex-direction: row;
        border-bottom: $border;

        height: 85px;

        * .data {
            display: block;
            width: 100%;
            margin-top: auto;
            margin-bottom: auto;

            div {
                display: inline;
            }
        }

        .source {
            display: flex;
            flex-direction: column;
            margin-top: auto;
            margin-bottom: auto;

            .address {
                font-family: $mono;
                display: flex;
                flex-direction: column;
                margin: 0 2em;
                font-size: 1.1em;
                color: $primary;
                padding-top: 11px;
                text-align: left;

                a {
                    color: $primary;
                }

                a:hover {
                    text-decoration: underline;
                }
            }

            .textAddress {
                white-space: nowrap;
                font-family: $normal;
                font-size: 105%;
                padding-top: 0px;
            }

            .signatureType {
                white-space: nowrap;
                display: flex;
                font-family: $normal;
                font-style: italic;
                font-size: 0.7em;
                color: $muted;
            }

            .coinbasedata {
                display: flex;
                font-size: 0.7em;
                text-align: left;
                color: $muted;
                line-height: 1.3em;
                margin: 0 -6px -12px -6px;
                padding: 6px;
                background-color: $semiSunkenBackground;
                border-radius: 10px;

                .header {
                    font-family: $normal;
                    color: $slightlyMuted;
                    font-style: italic;
                    padding-right: 5px;
                    height: auto;
                }

                .datasegment {
                    padding: 0.3em;
                }
            }
        }

        .inputsAmount {
            display: inherit;
            color: $muted;
            font-size: 0.9em;
            width: 80px;

            a {
                text-decoration: none;
            }

            a:hover {
                text-decoration: underline;
            }
        }

        .coinbaseInput {
            width: 170px;
        }

        .value {
            display: inherit;
            font-family: $mono;
            font-size: 115%;
            width: 210px;

            .data {
                margin-left: auto;
                margin-right: 20px;
                width: auto;
            }

            .decimals {
                font-size: 70%;
            }

            .unit {
                margin-left: -5px;
                font-size: 0.9em;
                white-space: pre;
                color: $muted;
            }
        }
    }
}
