@import '../../../variables.scss';

.richlistEntry {
    display: flex;
    flex-direction: row;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 15px;
    padding-right: 15px;

    .spacer {
        width: 20px;
    }
    div {
        width: auto;
    }
}

.highlighted {
    background-color: $backgroundColor;
}
