@import '../../../variables.scss';

.overview {
    display: flex;
    flex-flow: column;
    align-items: center;

    min-width: 700px;
    max-width: 700px;
    width: 700px;

    .explore {
        font-size: 1.3em;
        margin-top: -10px;
        margin-bottom: 20px;
    }
}
