@import "../../../../../variables.scss";

.block {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;

  width: 675px;
  margin: 0px auto;
  border: $border;
  border-radius: 25px;
  background-color: $sunkenBackground;

  .header {
    font-size: 1em;
    font-family: $mono;
    background-color: $rowBackground2;
    margin: 0px;
    width: 100%;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    padding-left: auto;
    padding-right: auto;
    padding-top: 10px;
    padding-bottom: 10px;

    .link {
      text-decoration: none;
    }

    .link:hover {
      text-decoration: underline;
    }
  }

  .data {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    height: 48px;
  }
  .data:first-of-type {
    border-top: $borderThin;
  }

  .transactions {
    width: 100%;
    border-top: $borderThin;

    .header {
      text-align: center;
      margin: 10px 0;
      font-size: 1.15em;
      font-family: $normal;
    }
  }
}
