@import "../../../../../variables.scss";

.block {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;

  width: 675px;
  margin: 0px auto;
  border: $border;

  padding: 0px 0px 15px;

  .header {
    font-size: 1em;
    font-family: $mono;

    .link {
      text-decoration: none;
    }
  }

  .data {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    height: 48px;
    border-bottom: $border;

    // hack hack hack plz forgive
    * {
      border-right: $border;

      * {
        border-right: none;
      }
    }

    *:last-child {
      border-right: none;
    }
  }
  .data:first-of-type {
    border-top: $border;
  }

  .transactions {
    width: 100%;
    margin: 10px 0px;

    .header {
      text-align: center;
      margin: 10px 0;
      font-size: 1.15em;
      font-family: $normal;
    }
  }
}
