@import "../../../../variables.scss";

.transaction {
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;

  width: 100%;

  padding: 10px 0px 4px 0px;
}

.transaction:last-child {
  padding-bottom: 0px;
}

/* FIXME: HACK */
.transaction:first-child div h4 {
  font-size: 98%;
  padding-bottom: 7px;
}

.transactionHighlightedRow:first-child {
  padding-top: 10px;
}

.transactionHighlightedRow:last-child {
  padding-bottom: 10px;
}

.transactionHighlightedRow:nth-child(2n + 0) {
  background-color: $rowBackground1;
}

.transactionHighlightedRow:nth-child(2n + 1) {
  background-color: $rowBackground2;
}
