.pagesection {
    width: 100%;
    align-items: center;
    text-align: center;
    margin: 0px 0px 5em 0px;

    .sectionheader {
        display: inline-block;
        margin-left: auto;
        margin-right: auto;
    }
}
