@import '../../../../variables.scss';

.mempool {
    .wrapper {
        width: 675px;
        padding: auto;
        margin: auto;
        background-color: $rowBackground2;
        border: $border;
        border-radius: 25px;
    }

    .none {
        display: grid;
        height: 227px;
        width: 675px;
        margin: auto;
        background-color: $rowBackground2;

        border: $border;
        border-radius: 25px;

        h4 {
            color: $ultramuted;
            font-size: 230%;
            font-style: italic;
            margin-top: auto;
            margin-bottom: auto;
            padding-bottom: 15px;
        }
    }
}
