@import '../../variables.scss';

.outerWrapper {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.wrapper {
    display: inline-block;
    background-color: $sunkenBackground;
    padding: 30px;
    border-radius: 25px;
}

.subtitle {
    color: $muted;
    font-size: 130%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2em;
}

.description {
    width: 800px;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
}

.chartoptions {
    font-size: 120%;
    color: $primary;
    display: grid;
    width: fit-content;
    margin: 0.6em auto 0.6em 10%;
}
