.header {
    display: flex;
    flex-flow: row;
    width: 100%;

    .contents {
        margin-left: auto;
        margin-right: auto;

        .text {
            font-size: 2em;
        }

        .img {
            height: 40px;

            margin-right: 10px;
        }
    }
}
