$primary: hsl(37, 100%, 55%);
$secondary: hsl(0, 0%, 57%);
$accent: hsla(201, 85%, 60%, 0.87);

$backgroundColor: hsl(37, 5%, 20%);

$text: hsla(37, 100%, 85%, 0.87);
$muted: hsla(37, 100%, 85%, 0.5);

$border: solid #696051 3px;
$borderThin: solid #696051 1px;

$mono: "Roboto Mono", monospace;
$normal: "Roboto", sans-serif;
