@import '../../../variables.scss';


.coinSelector {
    margin-top: -15px;
    padding: 4px 0px;
    font-style: normal;
    font-size: 10.5pt;

    a, .separator {
        padding-left: 6px;
    }

    a {
        text-transform: capitalize;
        color: $primary;
        //font-style: italic;
    }

    a:hover {
        color: $primary;
        text-decoration: underline;
    }
}
