@import '../../../../variables.scss';

.transactions {
    margin: 10px 10px 12px 10px;
    width: 650px;
    overflow-y: auto;
    border-radius: 10px;
    background-color: $semiSunkenBackground;
    scrollbar-width: thin;
    scrollbar-color: $accent $backgroundColor;
}

.highLightedTransactions {
    border: $border;
    background-color: $semiSunkenBackground;
    border-radius: 10px;
}
